@charset "utf-8";
.red {background:rgb(255, 226, 231)!important;}
.members .inner form {padding: 50px 20px 0px; box-sizing: border-box;}
.members h2 {font:bold 15px/1 'arial'; color:#555; margin-bottom:10px;}
.members h2:nth-of-type(2) {margin-top: 50px;}
.members .agreement {margin-bottom:40px;}
.members .agreement textarea {width:100%; height:160px; box-sizing:border-box; padding:20px; font:15px/1.8 'arial'; color:#777; background:rgba(0,0,0,0.05);}
.members .agreement .agreeok {width: 100%; height: 45px; padding: 3px; box-sizing: border-box; background: #666;}
.members .agreement .agreeok input {margin-left:10px;}
.members .agreement .agreeok label {font-size:12px; color:#ccc;}

.members  img {width:100%; height:401px;}

.members table {width:100%;}
.members tr:nth-of-type(1) {border-top:2px solid #000;}
.members tr:last-child {border-bottom:2px solid #000;}
.members th {width:20%; padding:20px 40px; text-align:left; color:#666;}
.members td {width:80%;padding:20px 40px; text-align:left; }
.members td a {display: inline-block; width: 70px; height: 40px; background: #888; color: #f1f1f1; text-align: center; line-height: 40px; font-size: 12px; margin-left: 5px;}
.members td a:hover {background: #ddd; color:#888; transition: 0.5s;}
.members span { padding-left: 5px; font-size: 13px; color: #666;}
.members p {margin-top: 10px; font-size: 13px;}

.members input[type=text], .members input[type=password], .members select {width:30%; height:40px; font-size: 13px; line-height: 40px; padding:0px 20px; padding-right:0px; border:1px solid #aaa; transition:0.5s;}
.members input[type=text]:hover, .members input[type=password]:hover, .members select:hover {background:lightcyan;}
.members input[type=text]:focus, .members input[type=password]:focus, .members select:focus {background:lightcyan;}
.members input[type=text]::-webkit-input-placeholder, .members input[type=password]::-webkit-input-placeholder, .members select::-webkit-input-placeholder {color:#aaa;}
.members input[type=submit], .members input[type=reset] {width:120px; height:40px; border-radius:20px; font:bold 12px/40px 'arial'; color:#666; margin:0px 10px; cursor:pointer; border:1px solid #888; background:transparent; transition:0.5s;}
.members input[type=submit]:hover, .members input[type=reset]:hover {background:#111; box-shadow:5px 5px 10px rgba(0,0,0,0.3); color:#fff; font-weight:bold;}
.members label {margin-right:20px; font-size: 13px;}

.members input[id=phone], select[id=phone] {width: 15%; height: 40px;}
.members input[id=address] {width: 15%; height: 40px; }
.members input[id=longaddress] {width: 42%; margin-top: 10px;}


/* tablet */
@media screen and (max-width:1179px){ 
    .members .inner form {padding: 40px 20px; box-sizing: border-box;}
    .members h2 {margin-top: 20px;}
    .members th {display:none;}
    .members td {width:100%;}   
    .members td input[type=text], .members td input[type=password], .members td select {width:100%;}  
    .members td a {float: left; margin-top: 10px;}
}

/* mobile */
@media screen and (max-width:539px){   
     .members td label {margin-right:7px;}
     .members td input[type=submit], .members td input[type=reset] {width:80px; margin:0px 5px;}
}